.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0b2545; 
  color: white;
  justify-content: center; /* Esto centra el contenido verticalmente */
}

.perfilContainer {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: black;
}

.pageWrapper > :last-child {
  margin-top: auto;
}

.footer {
  width: 100%;
  padding: 1rem;
  text-align: center;
  background-color: #001f3f;
  color: white;
}