
.searchActionsContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.searchForm {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchInput {
  padding: 8px 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 250px;
  transition: border-color 0.3s ease;
}

.searchInput:focus {
  outline: none;
  border-color: #007bff;
}

.buscarBtn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buscarBtn:hover {
  background-color: #0056b3;
}



.actionsGroup {
  display: flex;
  gap: 10px;
  margin-left: 20px;
  align-items: center;
}

.categoriasBtn,
.agregarBtn {
  text-decoration: none;
  background-color: #007bff; /* Azul consistente */
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  font-family: inherit; /* Usa la misma fuente que el contenedor */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.categoriasBtn:hover,
.agregarBtn:hover {
  background-color: #0056b3; /* Hover igual que buscar */
}
